@import "tailwindcss";
@import './pages/variant_size.css';
@import './pages/status.css';
@import './pages/card.css';

.components__button {
  
  padding: 12px 24px;     
  border: none;     
  border-radius: 8px;                 
  font-weight: 600;         
  cursor: pointer;  
  display: flex;
  align-items: center;         
}
.components__button--disabled{
    opacity: .5;
    cursor: none;
}
  